# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [6]:
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [8]:
txt ="The diameter of{planet} is {diameter} kilometer" .format(planet="Earth",diameter=12742)
print(txt)

The diameter ofEarth is 12742 kilometer

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
 d ={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
 d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [19]:
x=  [0]* 10
print (x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
y = [5]*10
print (y)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [18]:
import numpy as np
array =np.arange(20,36,2)
print("array of all the even integer from 30 to 70 ")
print(array)

array of all the even integer from 30 to 70
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [20]:
x = np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [21]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),  axis=None)

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [64]:
  A = np.random.randint(10, size=(3,2))
  print(A)

[[6 6]
 [8 2]
 [8 5]]

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [35]:
import datetime
day_delta = datetime.timedelta(days=1)

start_date = datetime.date(2023,1,1)
end_date = start_date + 40*day_delta

for i in range((end_date - start_date).days):
    print(start_date + i*day_delta)

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [12]:
import pandas as pd
lists = [[1,  'aaa', 22], [2,  'bbb', 25], [3,  'ccc', 24]]
lists =pd.DataFrame(lists)
print(lists)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24